<mat-card class="head-card"><h1>EDIT TASK</h1></mat-card>
<mat-card class="body-card">
  <form [formGroup]="editTaskForm" class="add-task-form">
    <div class="collumn">
      <h2>TITLE</h2>
      <mat-form-field
        color="accent"
        class="example-full-width"
        appearance="fill"
      >
        <mat-label>Task title</mat-label>
        <input formControlName="title" matInput />
      </mat-form-field>

      <h2>CATEGORY</h2>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Choose a category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let category of categoryList"
            [value]="category"
            >{{ category }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <h2>DESCRIPTION</h2>
      <mat-form-field color="accent" class="description" appearance="fill">
        <mat-label>Task description</mat-label>
        <textarea
          formControlName="description"
          class="description"
          matInput
        ></textarea>
      </mat-form-field>
    </div>

    <div class="collumn">
      <h2>DUE DATE</h2>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>MM/DD/YYYY</mat-label>
        <input formControlName="dueDate" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <h2>URGENCY</h2>
      <mat-form-field
        color="accent"
        class="example-full-width"
        appearance="fill"
      >
        <mat-label>Choose an urgency</mat-label>
        <mat-select formControlName="urgency">
          <mat-option *ngFor="let urgency of urgencyList" [value]="urgency">{{
            urgency
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <h2>EMPLOYEES</h2>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Assign task to... </mat-label>
        <mat-select multiple formControlName="assignedTo">
          <mat-option
            *ngFor="let employee of employeeList"
            [value]="employee"
            >{{ employee }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <button
        (click)="editBacklogTask()"
        type="button"
        class="submit-btn"
        mat-raised-button
      >
        SAVE
      </button>
    </div>
  </form>
</mat-card>
