:host {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 3rem;
    margin: 0;
    padding: 2rem;
  }
  h2 {
    margin: 0 0 12px;
  }
  mat-card {
    font-size: 1rem;
    margin: 0 2rem 1rem;
  }
}
.work-management {
  width: 35%;
}
.add-task {
  display: inline;
  color: #69f0ae;
  cursor: pointer;
  transition: 125ms ease-in-out;
  &:hover {
    border-bottom: #69f0ae 2px solid;
  }
}
.tasks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem;
  .task-card {
    cursor: pointer;
    display: flex;
    width: 27%;
    margin: 0 1rem 1rem;
    &:hover {
      filter: brightness(1.15);
    }
    .task-value-div {
      width: 88%;
    }
    .task-icons-div {
      width: 12%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      mat-icon {
        cursor: pointer;
      }
    }
    .task-assigned-to {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

@media (max-width: 1180px) {
  .tasks-container {
    .task-card {
      width: 40%;
    }
  }
}
@media (max-width: 840px) {
  .tasks-container {
    justify-content: center;
    .task-card {
      width: 100%;
    }
  }
}
@media (max-width: 640px) {
  h1 {
    text-align: center;
  }
  mat-card {
    text-align: center;
    margin: 0 1rem 1rem !important;
  }
  .tasks-container {
    justify-content: center;
    padding: 0;
    .task-card {
      text-align: start;
      width: 100%;
    }
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 12px;
  }
  mat-card {
    text-align: center;
    margin: 0 0.25rem 1rem !important;
  }
  .tasks-container {
    justify-content: center;
    padding: 0;
    .task-card {
      margin: 0 0.25rem 1rem;
    }
  }
}
