:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91vh;
  padding: 0 1rem;
  div {
    width: 23%;
    margin: 0 1rem;
    background-color: #424242;
    height: 95%;
    border-radius: 4px;
  }
  h1 {
    padding: 1rem;
    text-align: center;
    border-bottom: #69f0ae 4px solid;
  }
}
@media (max-width: 1281px) {
  :host {
    flex-wrap: wrap;
    margin: 0;
    height: 89vh;
    div {
      width: 46%;
      background-color: #424242;
      height: calc(49vh - 50px);
      border-radius: 4px;
      margin-top: 1rem;
    }
  }
}
@media (max-width: 980px) {
  :host {
    height: 91vh;
    align-content: unset;
    justify-content: space-evenly;
    div {
      width: 44%;
      margin: 0 0.5rem;
    }
  }
}
@media (max-width: 590px) {
  :host {
    height: 92vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    div {
      width: 95%;
      background-color: #424242;
      height: 22.9%;
      border-radius: 4px;
      margin: 0.5rem 0.5rem 0;
    }
    h1 {
      font-size: 16px;
      margin-block-end: 0;
      margin-block-start: 0;
      padding: 0 1rem;
      border-bottom: #69f0ae 2px solid;
    }
  }
}
@media (max-width: 420px) {
  :host {
    height: 91.5vh;
  }
}
@media (max-width: 380px) {
  :host {
    height: 90vh;
  }
}
