<div class="wrap" cdkDropListGroup>
  <div (cdkDropListDropped)="drop(event)" class="collumn">
    <h1>TO-DO</h1>
    <div cdkDropList class="tasks-container to-do">
      <ng-container *ngFor="let task of allTasks; let i = index">
        <mat-card
          (click)="openDetailDialog(task)"
          *ngIf="task.location === 'Todo'"
          class="task-card"
          cdkDrag
        >
          <div class="task-div">
            <h2 class="task-title">{{ task.title }}</h2>
            <p class="task-description">{{ task.description }}</p>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <div class="collumn">
    <h1>IN PROGRESS</h1>
    <div
      cdkDropList
      (cdkDropListDropped)="drop(event)"
      class="tasks-container in-progress"
    >
      <ng-container *ngFor="let task of allTasks; let i = index">
        <mat-card
          (click)="openDetailDialog(task)"
          *ngIf="task.location === 'Progress'"
          class="task-card"
          cdkDrag
        >
          <div class="task-div">
            <h2 class="task-title">{{ task.title }}</h2>
            <p class="task-description">{{ task.description }}</p>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <div class="collumn">
    <h1>TESTING</h1>
    <div
      cdkDropList
      (cdkDropListDropped)="drop(event)"
      class="tasks-container testing"
    >
      <ng-container *ngFor="let task of allTasks; let i = index">
        <mat-card
          (click)="openDetailDialog(task)"
          *ngIf="task.location === 'Testing'"
          class="task-card"
          cdkDrag
        >
          <div class="task-div">
            <h2 class="task-title">{{ task.title }}</h2>
            <p class="task-description">{{ task.description }}</p>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <div class="collumn">
    <h1>DONE</h1>
    <div
      cdkDropList
      (cdkDropListDropped)="drop(event)"
      class="tasks-container done"
    >
      <ng-container *ngFor="let task of allTasks; let i = index">
        <mat-card
          (click)="openDetailDialog(task)"
          *ngIf="task.location === 'Done'"
          class="task-card"
          cdkDrag
        >
          <div class="task-div">
            <h2 class="task-title">{{ task.title }}</h2>
            <p class="task-description">{{ task.description }}</p>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
