<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
  <!-- [formControl]="employees" multiple -->
  <mat-select>
    <mat-option *ngFor="let employee of employeeList" [value]="employee">{{
      employee
    }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
